<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/layouts/login.css">
</head>

<body>
    <main class="login">
        <section class="login-image">
            <img class="login-image__image" src="../images/login.svg" alt="">
        </section>
        <section class="login-content">
            <p class="login-content__title">
                Sign In
            </p>
            <form class="login-content__form" action="">
                <label class="login-content__label" for="email">Email</label>
                <input class="login-content__input" placeholder="Email Address" type="email" name="email"
                    id="login-content__email">
                <label class="login-content__label" for="email">Password</label>
                <input class="login-content__input" placeholder="password" type="password" name="password"
                    id="login-content__password">
                <button class="login-content__submit" type="submit">sign in</button>
            </form>
            <span class="login-content__signup">New on our platform?<a href="#"> Create an acoount</a></span>
            <div class="login-content__hr">
                <div class=""></div>
                <span>or</span>
                <div class=""></div>
            </div>
            <div class="login-content__social-media">
                <a href="#" class="login-content__social-media--item">
                    <img src="../icons/login/facebook.svg">
                </a>
                <a href="#" class="login-content__social-media--item">
                    <img src="../icons/login/twitter.svg">
                </a>
                <a href="#" class="login-content__social-media--item">
                    <img src="../icons/login/mail.svg">
                </a>
                <a href="#" class="login-content__social-media--item">
                    <img src="../icons/login/github.svg">
                </a>
            </div>
        </section>
    </main>
</body>

</html>