/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* END fonts */

/* variables */
:root {
  --bg-primary: #14131f;
  --bg-secondary: #353244;
  --bg-gray: #343444;

  --text-primary: #ffffff;
  --text-secondary: #a400e3;

  --blue: #5f00fa;
  --purple: #4e3fee;
}
/* END variables */

/* main styles */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth !important;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-primary);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

/* NED main styles */

/* scroll buttom */
#scroll-btn {
  display: none;
  position: fixed;
  bottom: 2.5rem;
  right: 1.5rem;
  z-index: 2;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: var(--text-primary);
  cursor: pointer;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
}

.social-vertical {
  display: flex;
  right: 0;
  flex-direction: column;
  background-color: var(--bg-secondary);
  position: fixed;
  border-radius: 1.4rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  z-index: 3;
  padding-top: 2rem;
  border: 2px solid #4e3fee;
}

.social-vertical > ul {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-vertical li {
  margin-bottom: 2rem;
  transition: all 0.5s ease;
}

.social-vertical li:hover {
  transform: scale(1.5);
}
