.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.4rem;
  padding-bottom: 0.8rem;
  border-bottom: 0.2rem solid #292933;
  flex-wrap: wrap;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  flex-grow: 0.4;
}

.nav__menu--item {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 1.6rem;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0.05;
}

.nav__search {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.nav__link--wallet {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--purple);
  border-radius: 10rem;
  padding: 1.4rem 3.6rem;
}

.nav__button--wallet {
  background-color: transparent;
  color: var(--text-primary);
  font-size: 1.4rem;
  outline: none;
  border: none;
  margin-left: 1.1rem;
  padding: 0;
  cursor: pointer;
}

.nav__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 0.05;
}

.nav__button--sun,
.nav__button--moon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-gray);
  border: none;
  border-radius: 1.3rem;
  padding: 0.6rem;
  width: 3.7rem;
  height: 3.7rem;
  cursor: pointer;
}

.header__banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__banner--content {
  display: flex;
  flex-direction: column;
}

.header__banner--title {
  color: var(--text-primary);
  font-size: 5.4rem;
  font-weight: bold;
  margin-top: 0;
  /* line-height: 6.8rem; */
  /* margin-bottom:3.4rem ; */
}

.header__banner--title > span {
  color: var(--text-secondary);
}

.header__banner--text {
  color: #adadb0;
  font-size: 1.9rem;
  margin: 0;
}

.header__banner--buttons {
  display: flex;
  align-items: center;
  margin: 3rem 1rem 0 1rem;
}

.header__banner--button {
  color: var(--text-primary);
  background-color: transparent;
  border: 0.2rem solid var(--purple);
  border-radius: 10rem;
  padding: 1.4rem 3.6rem;
  outline: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 2rem;
  flex-grow: 0.1;
}

.header__properties {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 9rem;
  margin-bottom: 8rem;
}

@media screen and (max-width: 960px) {
  .header__properties {
    flex-wrap: wrap;
  }
  .header__property {
    margin-top: 4rem;
  }
}

.header__property {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.header__property--icon {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1.6rem;
  margin-bottom: 1.1rem;
  width: 5rem;
  height: 5rem;
}

.header__property:nth-child(1) > .header__property--icon {
  background-color: #5142fb;
}

.header__property:nth-child(2) > .header__property--icon {
  background-color: #46a433;
}

.header__property:nth-child(3) > .header__property--icon {
  background-color: #9835fb;
}

.header__property:nth-child(4) > .header__property--icon {
  background-color: #df4949;
}

.header__property--title {
  font-size: 2.1rem;
  font-weight: bold;
  color: var(--text-primary);
  text-align: center;
}

.header__property--text {
  text-align: center;
  color: #adadb0;
  font-size: 1.3rem;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .header__banner--image {
    display: none;
  }
}
